body {
    font-family:Arial, Helvetica, sans-serif;
    background: #abc;
}

/* structure */ 
#content {
    background: #fff; /* aka: white */
    padding: 5px;
    width: 80%; /* width of div across page*/
    margin: auto; /* center horizontally */
    border-radius: 5px; /* will round corners a little bit */
}


/* Typography */

h1 {
    color: darkslategrey;
}
