:root {
    --black: #000;
    --white: #fff;
    --light-grey: #d3d3d3;
    --dark-grey: #433f3f;
    --bg: #abc;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: var(--bg);
}

/* structure */ 
#content {
    background: var(--white); /* aka: white */
    padding: 5px;
    width: 80%; /* width of div across page*/
    margin: auto; /* center horizontally */
    border-radius: 5px; /* will round corners a little bit */
}

/*header*/
#header {
    text-align: center;
}
#main-nav ul {
    /*remove list indent */
    padding-left: 0;
    margin: auto;
}
#main-nav li {
    list-style-type: none;
    background: var(--light-grey);
    padding: 10px;
    border-bottom: 1px solid var(--dark-grey);
    border: 1px solid var(--dark-grey);
    border-radius: 15px;
}
#main-nav a {
    text-decoration: none;
    color: var(--black);
}

/* Main Content */

.box1{
    width: 70%;
    margin: auto;
    border-radius: 29px;
    background:var(--light-grey) ;
    padding:20px;
}
.box2 {
    width: 90%;
    height: 90%;
    margin:auto;
    
}


.title{
    margin: auto;
    margin-top: 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--dark-grey);
}
.box4 {
    margin:0px;
}
.box6{
    margin-left:30px;
}
img {
    border-radius: 29px;
    padding-left:0px;
}


/* For larger resolutions */
@media only screen and (min-width: 768px) {

    .columns{
        display:flex;
    }
    #main-nav {
        display:flex;
        
    }
    #main-nav li {
        text-align: center;
        padding: 2px solid var(--dark-grey);
        margin:40px;
    }
    #main-nav li:hover {
        border-bottom: 2px solid var(--dark-grey);
    }
    .box3 {
        display:flex;
        width:100%;
        margin:auto;
    }
}


