body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(images/wallpaper.jpg);
}

/* content */ 
#content {
    text-decoration: none;
    background: #FAD79E; 
    padding: 5px;
    width: 80%; /* width of div across page*/
    margin: auto; /* center horizontally */
    border-radius: 5px; /* will round corners a little bit */
}
#main-header {
    text-align: center;
}
.columns {
    
    padding: 2px;
    text-align: center;
    margin: 5px;
}
.one {
    margin: 10px;
    border: 5px solid #FE809D;
    text-decoration: none;
    color: #FBA14C;
    background: #FDF1BF;
}
.links {
    text-decoration: none;
}
#main-content h3:hover {
    color:#302F2F;
}


/* Typography */

h1 {
    color: #FE809D;
}
h3 {
    color: #FF9EA7;
}
.description {
    color: #FF8A66;
}

/* For larger resolutions */
@media only screen and (min-width: 768px) {
    .columns {
        display: flex;
    }
}

