:root {
    --black: #000;
    --white: #fff;
    --light-grey: #d3d3d3;
    --dark-grey: #433f3f;
    --bg: #abc;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background: var(--bg);
}

/* structure */ 
#content {
    background: var(--white); /* aka: white */
    padding: 5px;
    width: 80%; /* width of div across page*/
    margin: auto; /* center horizontally */
    border-radius: 5px; /* will round corners a little bit */
}

/*header*/
#header {
    text-align: center;
}
#main-nav ul {
    /*remove list indent */
    padding-left: 0;
    margin: auto;
}
#main-nav li {
    list-style-type: none;
    background: var(--light-grey);
    padding: 10px;
    border-bottom: 1px solid var(--dark-grey);
    border: 1px solid var(--dark-grey);
    border-radius: 15px;
}
#main-nav a {
    text-decoration: none;
    color: var(--black);
}


/* Main Content */

.product-type {
    width:80%;
    margin:auto;
}
.product-content {
    width:90%;
    margin:auto;
}
.name {
    background: var(--dark-grey);
    color: var(--white);
    text-align: center;
    margin-top:0px;
    padding-bottom:25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;;
}
.product-name {
    margin-top:0px;
}
.name {
    padding-top: 10px;
}
.images {
    margin-left:30px;
    margin-top:20px;
}
.product {
    background: var(--light-grey);
    margin:auto;
    margin-bottom: 20px;
    width: 180px;
    height: 140px;
    border-radius: 15px;
}
.products {
    margin-left:0px;
    padding-left: 0px;
    margin-top:15px;
}
.type-title h3{
    margin-left:5px;
    margin-bottom:0px;
}
.type-title {
    margin-bottom: 0px;
    padding-bottom:2px;
    border-bottom: 1px solid var(--dark-grey);
}




/* For larger resolutions */
@media only screen and (min-width: 768px) {
    
    .columns{
        display:flex;
    }
    #main-nav {
        display:flex;
        
    }
    #main-nav li {
        text-align: center;
        margin:40px;
    }
    #main-nav li:hover {
        border-bottom: 2px solid var(--dark-grey);
    }
    .products {
        display:flex;
        width:100%;
    }
    
}


/* For smaller resolutions */
@media only screen and (max-width: 768px) {
}