:root {
    --black: #000;
    --white: #fff;
    --light-grey: #d3d3d3;
    --dark-grey: #433f3f;
    --bg: #abc;
    --content-bg: #f7dfec; 
    --nav-hover: #F2C9E0;
    --nav-txt: #000;
    --section-bg: #d0e7f0;
    --section-border: #D96690;
    --img-border: #F28DB2;
    --txt-border: #ae5273;
}

body {
    font-family:sans-serif ;
    background: var(--bg);
}

/* structure */ 
#content {
    background: var(--content-bg); 
    border: 4px solid var(--section-border);
    padding: 5px;
    width: 80%; /* width of div across page*/
    margin: auto; /* center horizontally */
    border-radius: 15px; /* will round corners a little bit */
    
}

/*header*/
#header {
    text-align: center;
}
#main-nav {
    margin-top: 0px;
    padding-top: 0px;
}
#main-nav ul {
    /*remove list indent */
    padding-left: 0;
    margin: auto;
    margin-top: 0px;
}
#main-nav li {
    list-style-type: none;
    background: var(--white);
    padding: 10px;
    border: 4px solid var(--section-border);
    border-radius: 15px;
}
#main-nav a {
    text-decoration: none;
    color: var(--nav-txt);
}
#main-nav li:hover {
    background: var(--nav-hover);
}
#header img{
    margin-top: 30px;
    margin-bottom: 0px;
    border: 4px solid var(--section-border);
    border-radius: 15px;
}

/* Hamburger */

#hamburger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}

.hide-small {
    display: none;
}


/* Main Content */

#main-content {
   text-align: center;
}
.images img{
    margin:5px;
    max-width: 250px;
    max-height:90px;
}

.collage{
    width:80%;
    margin:auto;
}
.img-box {
    width: 50%;
    text-align: center;
}
img{
    border-radius: 29px;
}
.img-box img{
    border: 3px solid var(--img-border);
}
 .two ,.three {
    border: 3px solid var(--section-border);
    background: var(--section-bg);
    margin-left: 20px;
    padding: 15px;
    border-radius: 29px;
}
.columns1{
    margin-bottom: 20px;
}
.contact-info{
    border: 3px solid var(--section-border);
    background: var(--section-bg);
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 29px; 
}
.contact-info h2{
    width:30%;
}
.women-img {
    border: 3px solid var(--section-border);
}
h2{
    -webkit-text-stroke: 1px var(--section-border);
    color: var(--content-bg);
    letter-spacing: 1px;
}





/* For larger resolutions */
@media only screen and (min-width: 812px) {
    .columns1 {
        display: flex;
        width:80%;
        margin:auto;
        margin-top: 35px;
    }
    .columns{
        display:flex;
    }
    #nav-items{
        display:flex;
    }
    #main-nav {
        display:flex;
        
    }
    #main-nav li {
        text-align: center;
        margin:40px;
    }
    .img-box {
        display: flex;
        margin:auto;
        margin-top:5px;
    }
    .contact-info {
        display:flex;
        width:80%;
    }
    .women-img {
        max-height: 250px;;
    }
    #hamburger {
        display: none;
    }
    
}


/* For smaller resolutions */
@media only screen and (max-width: 812px) {
    .img-box{
        display:flex;
        margin: auto;
        max-width: 90%;
    }
    .one , .two , .three {
        text-align: center;
        margin: 30px;
       
    }
    #content img{
        margin-bottom: 30px;
    }
    .one {
        margin-top: 20px;;
    }
    .collage-img {
        max-width: 90%;
        margin-top: 20px;
    }
    .women-img {
        display: none;
    }
    .contact-info h2{
        margin:auto;
        text-align: center;
        width:auto;
    }
    .contact-info {
        max-width: 80%;
    }
    #content {
        width:95%;
    }
    
}